<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AssetManager.txt">

  <!-- Define variables -->
  <variable name="appName" value="AssetManagerApp" />

  <!-- Enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Database"/>
  </extensions>

  <!-- Define targets -->
  <targets>
    <!-- SQL Server Database Target -->
    <target xsi:type="Database"
            name="database"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="${configsetting:name=ConnectionStrings.DefaultConnection}">
      
      <commandText>
        INSERT INTO [dbo].[ApplicationLogs] (
          [Application],
          [Logged],
          [Level],
          [Message],
          [Logger],
          [Callsite],
          [Exception],
          [InnerException],
          [StackTrace],
          [ServerName],
          [MachineName],
          [UserName],
          [Url],
          [HttpMethod],
          [RequestId],
          [CorrelationId],
          [ThreadId],
          [ProcessId],
          [AssemblyVersion],
          [ClassName],
          [MethodName],
          [LineNumber],
          [AdditionalInfo]
        ) VALUES (
          @Application,
          @Logged,
          @Level,
          @Message,
          @Logger,
          @Callsite,
          @Exception,
          @InnerException,
          @StackTrace,
          @ServerName,
          @MachineName,
          @UserName,
          @Url,
          @HttpMethod,
          @RequestId,
          @CorrelationId,
          @ThreadId,
          @ProcessId,
          @AssemblyVersion,
          @ClassName,
          @MethodName,
          @LineNumber,
          @AdditionalInfo
        );
      </commandText>

      <parameter name="@Application" layout="${var:appName}" />
      <parameter name="@Logged" layout="${longdate}" />
      <parameter name="@Level" layout="${level:upperCase=true}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
      <parameter name="@InnerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:maxInnerExceptionLevel=5:innerExceptionSeparator=---}" />
      <parameter name="@StackTrace" layout="${exception:format=StackTrace}" />
      <parameter name="@ServerName" layout="${event-properties:item=ServerName}" />
      <parameter name="@MachineName" layout="${event-properties:item=MachineName}" />
      <parameter name="@UserName" layout="${event-properties:item=UserName}" />
      <parameter name="@Url" layout="${event-properties:item=Url}" />
      <parameter name="@HttpMethod" layout="${event-properties:item=HttpMethod}" />
      <parameter name="@RequestId" layout="${event-properties:item=RequestId}" />
      <parameter name="@CorrelationId" layout="${event-properties:item=CorrelationId}" />
      <parameter name="@ThreadId" layout="${event-properties:item=ThreadId}" />
      <parameter name="@ProcessId" layout="${event-properties:item=ProcessId}" />
      <parameter name="@AssemblyVersion" layout="${assembly-version}" />
      <parameter name="@ClassName" layout="${event-properties:item=ClassName}" />
      <parameter name="@MethodName" layout="${event-properties:item=MethodName}" />
      <parameter name="@LineNumber" layout="${event-properties:item=LineNumber}" />
      <parameter name="@AdditionalInfo" layout="${event-properties:item=AdditionalInfo}" />
    </target>

    <!-- File Target for fallback/development -->
    <target xsi:type="File"
            name="allfile"
            fileName="c:\temp\assetmanager-logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- File Target for errors only -->
    <target xsi:type="File"
            name="errorfile"
            fileName="c:\temp\assetmanager-logs\nlog-errors-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|${callsite}|${event-properties:item=ClassName}|${event-properties:item=MethodName}" />

    <!-- Console Target for development -->
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Colored Console Target for better visibility -->
    <target xsi:type="ColoredConsole"
            name="coloredConsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Skip non-critical Microsoft logs and only log critical+ -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- All logs to database -->
    <logger name="*" minlevel="Trace" writeTo="database" />

    <!-- All logs to file -->
    <logger name="*" minlevel="Info" writeTo="allfile" />

    <!-- Errors to error file -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />

    <!-- All logs to console (colored) -->
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
</nlog>

